
# CONFIG_FEATURE_MDEV_DAEMON is not set
# CONFIG_FEATURE_SHOW_SCRIPT is not set
CONFIG_ASH_BASH_COMPAT=y
CONFIG_ASH_CMDCMD=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_GETOPTS=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_TEST=y
CONFIG_BASENAME=y
CONFIG_BUSYBOX=y
CONFIG_CAT=y
CONFIG_CROSS_COMPILER_PREFIX=""
CONFIG_CUT=y
CONFIG_DD=y
CONFIG_EXTRA_CFLAGS=""
CONFIG_EXTRA_LDFLAGS="""
CONFIG_FEATURE_INSTALLER=y
CONFIG_FEATURE_MDEV_CONF=y
CONFIG_FEATURE_MDEV_EXEC=y
CONFIG_FEATURE_MDEV_LOAD_FIRMWARE=y
CONFIG_FEATURE_MDEV_RENAME_REGEXP=y
CONFIG_FEATURE_MDEV_RENAME=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_USE_SENDFILE=y
CONFIG_LFS=y
CONFIG_LN=y
CONFIG_MDEV=y
CONFIG_MKDIR=y
CONFIG_READAHEAD=y
CONFIG_READLINK=y
CONFIG_RM=y
CONFIG_SED=y
CONFIG_SLEEP=y
CONFIG_STATIC=y
CONFIG_TIME64=y
CONFIG_TR=y