CONFIG_LOCALVERSION="-hyperpsi-postmarketos-extra-klte"

# Optimize for size
CONFIG_KERNEL_XZ=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_DEBUG_INFO_COMPRESSED_ZLIB=y

# Optimize for performance
CONFIG_JUMP_LABEL=y

# Extra features
CONFIG_MODULE_SCMVERSION=y
CONFIG_BINFMT_MISC=y
CONFIG_EROFS_FS=y
CONFIG_BPF_JIT=y
CONFIG_KEXEC=y
CONFIG_TLS=m
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_BBR=y
CONFIG_ANDROID_BINDERFS=y
CONFIG_XFS_FS=m
CONFIG_FANOTIFY=y
CONFIG_CRYPTO_ECDSA=m
CONFIG_CRYPTO_CURVE25519=m
CONFIG_CRYPTO_MD4=m
CONFIG_CRYPTO_USER_API_RNG=m
CONFIG_NETFS_SUPPORT=m
CONFIG_SMBFS=m
# CONFIG_CRYPTO_DEV_VIRTIO is not set

# Hardening
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_RANDSTRUCT_FULL=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y

# Debugging
CONFIG_STACKTRACE_BUILD_ID=y
