CONFIG_LOCALVERSION="-hyperpsi-klte"
CONFIG_WERROR=y

CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y

CONFIG_DRM_DP_AUX_BUS=y
CONFIG_DRM_DISPLAY_HELPER=y
CONFIG_DRM_SCHED=y
CONFIG_DRM_MSM=y

CONFIG_DRM_PANEL_SAMSUNG_S6E3FA0=m
CONFIG_DRM_PANEL_SAMSUNG_S6E3FA2_FULL=m

CONFIG_SND_SOC_HDMI_CODEC=y
CONFIG_QCOM_MDT_LOADER=y
