[init]
	defaultBranch = main
[user]
	email = xtex@astrafall.org
	name = xtex
	signingkey = /home/xtex/.ssh/id_ed25519.pub
	# signingkey = 7231804B052C670F15A6771DB918086ED8045B91
[commit]
	verbose = true
[tag]
	forceSignAnnotated = true
[core]
	autocrlf = input
	abbrev = 12
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@codeberg.org:"]
	insteadOf = https://codeberg.org/
[url "ssh://gerrit.wikimedia.org:29418/"]
	insteadOf = https://gerrit.wikimedia.org/r/
[url "git@git.dn42.dev:"]
	insteadOf = https://git.dn42.dev/
[url "https://github.com/rust-lang/crates.io-index"]
	insteadOf = https://github.com/rust-lang/crates.io-index
[pull]
	rebase = true
	autoStash = true
[merge]
	conflictStyle = diff3
	guitool = meld
	autoStash = true
[diff]
	tool = difftastic
	algorithm = patience
	submodule = log
	renames = true
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[alias]
	dft = difftool
	logt = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
	staging = "send-email --to=~xtex/staging@lists.sr.ht"
	a = add
	amc = am --continue
	ams = am --skip
	br = branch
	brd = branch -d
	brdd = branch -D
	c = commit
	ca = commit --amend --no-edit
	cae = commit --amend
	mine = commit --amend --author 'xtex <xtex@astrafall.org>'
	cq = -c commit.verbose=false commit
	come = coauthor xtex xtex@astrafall.org
	ck = checkout
	clo = clone
	clf = clone --filter blob:none
	d = diff
	dt = difftool
	f = fetch
	fap = fetch --all --prune
	ff = fetch --force
	fp = fetch --prune
	fpa = fetch --all --prune
	ft = fetch --tags --prune
	fmt = format-patch
	g = pull
	l = log
	lt = logt
	m = merge
	msq = merge --squash
	ol = "log --oneline"
	p = push
	pf = push --force
	pick = cherry-pick
	pk = cherry-pick
	pkc = cherry-pick --continue
	pks = cherry-pick --skip
	pkx = cherry-pick -x
	pp = push --force
	pt = push --tags
	r = "!grr"
	rb = rebase
	rbi = -c sequence.editor=interactive-rebase-tool rebase --interactive
	rbo = rebase HEAD --onto
	rbc = rebase --continue
	rbs = rebase --skip
	aq = rebase --autosquash
	res = restore
	rh = reset --hard
	rhfh = reset --hard FETCH_HEAD
	rs = reset --soft
	rv = revert
	s = status
	sh = show
	sw = switch
	swc = switch -c
	swo = switch --orphan
	st = stash
	stp = stash pop
	mwbulk = "!f() { find -L . -name '.git' ! -path '*/vendor/*' -execdir git \"$@\" ';'; }; f"
	nosign = "!git -c commit.gpgSign=false"
	fixes = log -1 --pretty=fixes
	refc = log -1 --pretty=reference
	msg = log -1 --format='%B'
	fix = commit --fixup
	fixx = "!f() { git commit --fixup \"$1\"; git stash; git rebase --autosquash \"$1\"^; git stash pop; }; f"
	acapp = "!f() { git add .; git commit --amend --no-edit; git push --force; }; f"
	acar = "!f() { git add .; git commit --amend --no-edit; grr; }; f"
	aca = "!f() { git add .; git commit --amend --no-edit; }; f"
[sendemail]
	smtpServer = mail.envs.net
	smtpEncryption = ssl
	smtpUser = xtex@envs.net
	from = xtex <xtex@envs.net>
	smtpDomain = xtexx.eu.org
	smtpAuth = PLAIN LOGIN
	confirm = auto
[am]
	threeWay = true
[gitreview]
	username = xtex
	rebase = false
[push]
	autoSetupRemote = true
[pretty]
	fixes = Fixes: %h (\"%s\")
[http]
	cookiefile = /home/xtex/.gitcookies
[rerere]
	enabled = true
[help]
	autocorrect = prompt
[status]
	submoduleSummary = true
[submodule]
	recurse = true
[log]
	date = iso
[rebase]
	missingCommitsCheck = ignore
	autoSquash = true
[format]
	useAutoBase = true
[fetch]
	prune = true
[include]
	path = .config/git/local.conf
[bulkworkspaces]
	mw = /home/xtex/src/wm/mediawiki
	aosc = /home/xtex/src/aosc
[includeIf "hasconfig:remote.*.url:https://git.kernel.org/**"]
	path = ~/.config/git/chiaki.conf
[includeIf "hasconfig:remote.*.url:https://*.googlesource.com/**"]
	path = ~/.config/git/realname.conf
[includeIf "hasconfig:remote.*.url:git@github.com:xtexx/llvm-project.git"]
	path = ~/.config/git/realname.conf
[includeIf "hasconfig:remote.*.url:git@github.com:AOSC-Tracking/jdk.git"]
	path = ~/.config/git/realname.conf
[includeIf "hasconfig:remote.*.url:git@github.com:openjdk/*"]
	path = ~/.config/git/realname.conf
[includeIf "hasconfig:remote.*.url:git@github.com:ziglang/*"]
	path = ~/.config/git/realname.conf
[includeIf "hasconfig:remote.*.url:git@github.com:wikimedia/*"]
	path = ~/.config/git/realname.conf
[includeIf "hasconfig:remote.*.url:git@gitlab.com:qemu-project/qemu.git"]
	path = ~/.config/git/realname.conf
#[includeIf "hasconfig:remote.*.url:ssh://git@codeberg.org/ziglang/*"]
#	path = ~/.config/git/realname.conf
#[includeIf "hasconfig:remote.*.url:ssh://git@codeberg.org/xtexx/zig.git"]
#	path = ~/.config/git/realname.conf
[includeIf "hasconfig:remote.*.url:https://git.musl-libc.org/git/musl"]
	path = ~/.config/git/realname.conf
[includeIf "hasconfig:remote.*.url:ssh://gerrit.wikimedia.org:29418/**"]
	path = ~/.config/git/wikimedia.conf
[includeIf "hasconfig:remote.*.url:https://gerrit.wikimedia.org/r/**"]
	path = ~/.config/git/wikimedia.conf
[includeIf "hasconfig:remote.*.url:*gerrit.wikimedia.org*"]
	path = ~/.config/git/wikimedia.conf
[includeIf "gitdir:~/deploy/**"]
	path = ~/.config/git/deployment.conf
[absorb]
	autoStageIfNothingStaged = true
[gpg]
	format = ssh
[patatt]
	signingkey = openssh:/home/xtex/.ssh/id_ed25519.pub
