*

!/.gitignore
!/.gitignore.common
!/.gitconfig
!/.profile
!/.gdbinit

!/.ssh/
!/.ssh/config

!/.config/
!/.config/*/
!/.config/user-dirs.dirs
!/.config/environment.d/
!/.config/Code/User
!/.config/Code/User/settings.json
!/.config/fish/config.fish
!/.config/fish/conf.d
!/.config/fish/conf.d/pastebin.fish
!/.config/tmux/tmux.conf
!/.config/git/*
/.config/git/local.conf

# To fix ripgrep
!/src/*
!/backup/*
