{
	admin unix/{$UDS_DIR_ADMIN:.}/caddy-admin{$UDS_SUFFIX:.sock}

	auto_https off
	http_port 8080
	https_port 8443

	order cgi before respond
	order teapot before respond
	#order cache before rewrite
	#cache {
	#	allowed_http_verbs GET POST
	#	cache_name Caddy
	#	ttl 10m
	#	default_cache_control public
	#}
	log default {
		exclude http.handlers.cache
	}
	servers unix/{$UDS_DIR:.}/xtexhome{$UDS_SUFFIX:.sock}|0777 {
		name unix-home
		timeouts {
			read_body 1m
			read_header 1m
			write 1h
		}
	}
	servers unix/{$UDS_DIR:.}/xtexblog{$UDS_SUFFIX:.sock}|0777 {
		name unix-blog
		timeouts {
			read_body 15s
			read_header 15s
			write 2m
		}
	}
}

(httpsec) {
	header {
		Permissions-Policy "accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=(), geolocation=(), gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(), midi=(), navigation-override=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), web-share=(), xr-spatial-tracking=(), clipboard-read=(), clipboard-write=(), gamepad=(), speaker-selection=()"
		Referrer-Policy no-referrer
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		X-XSS-Protection "1; mode=block"
		Cross-Origin-Embedder-Policy require-corp
		Cross-Origin-Opener-Policy same-origin
		Cross-Origin-Resource-Policy same-origin
	}
}

http://:8080 http://xtexx.eu.org {
	@prod vars {env.PROD} true
	bind unix/{$UDS_DIR:.}/xtexhome{$UDS_SUFFIX:.sock}|0777 tcp/localhost

	root * src
	try_files {path}.html {path} {path}/
	file_server {
		index index.html
	}

	redir /blog/* https://blog.xtexx.eu.org/misc/migration-to-home/ permanent
	redir /about https://k.xtexx.eu.org/w/User:Xtex permanent

	header Server xtex-home
	import httpsec
	header Content-Security-Policy "
default-src 'self';
base-uri 'self';
connect-src 'self';
frame-ancestors 'none';
form-action 'self';
script-src 'self';
style-src 'self' https://unpkg.com;
object-src 'none';
img-src 'self' data: https:;
font-src 'self' data: https:;
		"

	@indexjsonld {
		path /
		header Accept *application/ld+json*
	}
	handle @indexjsonld {
		header Content-Type "application/ld+json"
		rewrite * /index.jsonld
	}

	templates {
		mime "text/html" "application/json"
	}

	header /keys/gpg-0xD8045B91-bin.asc Content-Type application/octet-stream

	# Well-known URLs
	header /.well-known/host-meta Content-Type "application/xrd+xml"
	rewrite /.well-known/host-meta /gen/host-meta.xml
	rewrite /.well-known/host-meta.json /gen/host-meta.json
	rewrite /.well-known/nodeinfo /.well-known/nodeinfo.json
	header /nodeinfo/2.1.json Content-Type `application/json; profile="http://nodeinfo.diaspora.software/ns/schema/2.1#"`
	rewrite /.well-known/oauth-authorization-server /.well-known/oauth-authorization-server.json

	# Keys
	redir /keys/gpg-main.asc /keys/gpg-0xD8045B91.asc temporary
	redir /keys/gpg-main-bin.asc /keys/gpg-0xD8045B91-bin.asc temporary

	# Web Key Directory
	# draft-koch-openpgp-webkey-service-17
	handle /.well-known/openpgpkey/* {
		header Access-Control-Allow-Origin *

		handle_path /.well-known/openpgpkey/xtexx.eu.org/* {
			rewrite * /.well-known/openpgpkey{path}
		}

		route /.well-known/openpgpkey/hu/* {
			# Some clients are not encoding plus correctly
			@wkdprefixed `{query.l}.startsWith("xtex+") || {query.l}.startsWith("xtex ")`
			rewrite @wkdprefixed /.well-known/openpgpkey/hu/q1fcwzmim1dtwtbc5k396hwt78cwzujb

			header Content-Type application/octet-stream
		}
	}

	# WebFinger
	@webfinger {
		path /.well-known/webfinger
		query resource=*
	}
	handle @webfinger {
		rewrite * /webfinger/{query.resource}
		@webfinger-acct path_regexp acct ^\/webfinger\/(.+):([a-zA-Z0-9\s+.]+)@(.+)$
		route @webfinger-acct {
			rewrite * /webfinger/{re.acct.3}/{re.acct.1}/{re.acct.2}.json
		}
		@webfinger-http path_regexp ^\/webfinger\/(https|http):\/+([^@]+)(\/.*|)$
		route @webfinger-http {
			rewrite * /gen/host-webfinger.json
		}
	}

	# Tea Pot
	handle /tea {
		teapot
	}
}

http://blog.xtexx.eu.org {
	bind unix/{$UDS_DIR:.}/xtexblog{$UDS_SUFFIX:.sock}|0777

	root * {$BLOG_DIR:blog}
	try_files {path} {path}.html {path}/ =404
	file_server

	header Server xtex-blog
	import httpsec
	header Content-Security-Policy "
			default-src 'self';
			base-uri 'self';
			connect-src 'self';
			frame-ancestors 'none';
			form-action 'self';
			script-src 'self' https://unpkg.com 'nonce-7e0bfcf7-1564-43e9-a950-95577944deca';
			style-src 'self' https://unpkg.com;
			object-src 'self';
			font-src 'self' https://unpkg.com;
			img-src 'self' https://z3.ax1x.com/;
			"

	handle_errors {
		@404 expression `{err.status_code} == 404`
		handle @404 {
			try_files 404.html
		}
	}

	@code-asset path *.eot *.otf *.woff *.ttf *.css *.js
	handle @code-asset {
		header Cache-Control max-age=1800
	}

	@image-asset path *.svg *.jpg *.jpeg *.gif *.png *.ico *.bmp *.webp
	handle @image-asset {
		header Cache-Control stale-while-revalidate=604800
	}

	@no-cache-asset path *.xml
	handle @no-cache-asset {
		header Cache-Control no-cache
	}
}
