[Unit]
Description="Gatus"

[Container]
ContainerName=gatus
Image=docker.io/twinproduction/gatus:stable
AutoUpdate=registry
Mount=type=bind,source=/home/xtex/infra/gatus/config,destination=/config
Mount=type=bind,source=/home/xtex/apps/gatus,destination=/data
PublishPort=17783:8080
Environment=GATUS_CONFIG_PATH=/config

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
