<meta charset="UTF-8" />
<title>{{ with .Title }}{{ . }} &ndash; {{end}}{{ .Site.Title }}</title>

{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}" />
{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1" />

{{ if .Site.Params.noindex }}
<meta name="robots" content="noindex" />
{{ end }}

{{ partial "opengraph.html" . }}

<!-- -->
{{ range .OutputFormats -}} {{ printf `<link
    rel="%s"
    type="%s"
    href="%s"
    title="%s"
/>` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}

<!-- -->
{{with .Site.Params.icon }}
<link rel="icon" type="{{ .type }}" href="{{ .url }}" />
{{ end }} {{ with .Site.Params.alticon }}
<link rel="alternate icon" type="{{ .type }}" href="{{ .url }}" />
{{ end }}

<link rel="stylesheet" href='{{ "css/arc.css" | absURL }}' />

{{ with .Site.Params.ext_head }} {{ . }} {{ end }} {{ partial "x-head.html" . }}

<link rel="stylesheet" href='{{ "css/custom.css" | absURL }}' />
