body {
    background-color: var(--color-body-bg);
    color: var(--color-body-fg);
    cursor: default;
    padding: 3rem;
    padding-top: 0.7rem;
    max-width: 100%;
    text-autospace: auto;
}

main {
    padding-top: 1rem;
}

.header .title {
    display: inline-block;
}

.header .links {
    float: right;
}

.hlist {
    word-break: break-all;
}

.hlist ul {
    display: inline;
    margin: 0;
    padding: 0;
}

.hlist li {
    display: inline;
}

.hlist li:not(:last-child)::after {
    content: "/";
    padding-left: 0.286em;
    padding-right: 0.286em;
}

.hlist li ul li:first-child::before {
    content: "(";
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.hlist li ul li:last-child::after {
    content: ")";
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.pager {
    text-align: center;
}

.pager li:not(:last-child)::after {
    content: "  " !important;
}

@media screen and (max-width:650px) {

    ul,
    ol {
        padding-left: 1em;
    }

}