(mediawiki) {
	import securitytxt
	rewrite /sitemap.xml /sitemap/sitemap-index-wiki{args[0]}.xml
	rewrite /robots.txt /extensions/XensTweaks/entrypoints/robots.php
	handle /sitemap/* {
		uri strip_prefix /sitemap
		root /var/lib/mediawiki/sitemap/{args[0]}
		file_server
	}
	handle /images/* {
		uri strip_prefix /images
		root /var/lib/mediawiki/images/{args[0]}
		file_server
	}
	reverse_proxy unix//var/run/mediawiki/lighttpd.sock {
		header_up X-Xens-Wiki "{args[0]}"
	}
}

uploads.w.xvnet.eu.org uploads.wiki.xvnet0.eu.org http://uploads.wiki.xvn {
	import securitytxt
	handle {
		root * /var/lib/mediawiki
		header Access-Control-Allow-Origin *
		redir / https://w.xvnet.eu.org/w/uploads.w.xvnet.eu.org permanent
		file_server /images/*
	}
}

meta.w.xvnet.eu.org meta.wiki.xvnet0.eu.org http://meta.wiki.xvn {
	import mediawiki "meta"
}

w.xvnet.eu.org wiki.xvnet0.eu.org http://wiki.xvn {
	import mediawiki "xvnet"
}

# hgdns.w.xvnet.eu.org hgdns.wiki.xvnet0.eu.org http://hgdns.wiki.xvn {
# 	import mediawiki "hgdns"
# }

hgdns.ren {
	tls internal
	import mediawiki "hgdns"
}

k.xtexx.eu.org {
	tls internal
	import mediawiki "xtex"
}
