{{- $diagramSrc := .Inner | strings.TrimSpace }}
{{- $url := "https://kroki.io/wavedrom/svg" }}
{{- $diagramHash := (hash.XxHash $diagramSrc) }}
{{- $opts := dict
    "key" (print page.Path "wavedrom-svg" $diagramHash)
    "method" "POST"
    "body" $diagramSrc
    "headers" (dict "Content-Type" "text/plain")
-}}

{{- with resources.GetRemote $url $opts -}}
    {{- with resources.Copy (printf "%s/diagrams/wavedrom-%s.svg" page.RelPermalink $diagramHash) (. | minify) -}}
        <img class="diagram wavedrom" src="{{ .RelPermalink }}" alt="Diagram" loading="lazy">
    {{- end -}}
{{- end -}}